body {
    background: url('pizza.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    padding: 100px;
}

h1 {
    text-align: center;
    color: black;
    margin-bottom: 30px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    opacity: 0.6;
}

.form-box {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    min-height: 300px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    opacity: 0.9;
}


label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

textarea {
    resize: vertical;
}
